body {
  padding-top: 60px;
}
.navbar .brand.logo {
  float: right;
  padding-top: 8px;
}
.sidebar-nav {
  top: 80px;
  width: 160px;
}
footer {
  padding-top: 20px;
  margin: 40px 0;
  border-top: 1px solid #eee;
  font-size: 12px;
  text-align: center;
  color: #bbb;
}
