<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="tiramizoo GmbH">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/stylesheets/pygments.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand api" href="/">
            <strong>API</strong> Documentation
          </a>
          <a class="brand logo" href="/">
            <img src="/assets/images/tiramizoo-logo.png" alt="tiramizoo">
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span9">
          {{ content }}
        </div>

        <div class="span3">
          <div class="well sidebar-nav span3 affix">
            <ul class="nav nav-list">
              <li><a href="/quotes.html">Quotes</a></li>
              <li><a href="/orders.html">Orders</a></li>
              <li><a href="/time_windows.html">Time Windows (Deprecated)</a></li>
              <li><a href="/service_areas.html">Service Areas</a></li>
              <li><a href="/cancel_order.html">Order Cancelation</a></li>
              <li><a href="/order_status.html">Order Status (Tracking)</a></li>
              <li class="divider"></li>
              <li><a href="/sandbox.html">Sandbox</a></li>
              <li><a href="/integration_example.html">Shop Integration Example</a></li>
            </ul>
          </div>
        </div>
      </div>
      <footer>
        <p>&copy; tiramizoo GmbH</p>
      </footer>
    </div>
  </body>
</html>
